<div class="window container-fluid">
    <div class="row">
        <div class="profpic text-sm-center col-sm-4">
            <img class="profpic-image img-circle center-block m-b-1" alt="Glenn Dwiyatcita" />
            Glenn Dwiyatcita
        </div>
        <div class="col-sm-6">
            <p>
                <b>Hello!</b> I'm Glenn, a 26 year-old JavaScript programmer based in Bonn, Germany.
            </p>
            <p>
                I have a very big passion in programming and am keen to learn cutting-edge and future-proof new technology in the frontend ecosystem. I always aim to develop my code towards high quality of clean code, perfection attitude, and simplicity, while applying software patterns and respecting best practices in object-oriented design principles.
            </p>
        </div>
    </div>
</div>
